<h2 class="ui teal header">
  <div class="content">
    Create your Cash Exchanger Account
  </div>
</h2>
<form [formGroup]="registerForm" (submit)="registerForm.valid && onRegisterSubmit(registerForm)" class="ui large form"
      novalidate>
  <div class="ui stacked segment">
    <div class="field">
      <label>Name</label>
      <div class="two fields">
        <div class="field">
          <input formControlName="firstName"
                 [(ngModel)]="service.user.firstName"
                 placeholder="First Name"
                 type="text">
        </div>
        <div class="field">
          <input formControlName="lastName"
                 [(ngModel)]="service.user.lastName"
                 placeholder="Last Name"
                 type="text">
        </div>
      </div>
    </div>
    <div class="field">
      <label>E-mail</label>
      <div class="large field">
        <input formControlName="email"
               [(ngModel)]="service.user.email"
               placeholder="Your E-mail"
               type="text">
      </div>
    </div>
    <div class="field">
      <label>Password</label>
      <div class="ui right icon input">
        <input formControlName="password"
               [(ngModel)]="service.user.password"
               placeholder="Enter password"
               [type]="hide ? 'password':'text'">
        <button class="ui icon button teal" (click)="hide = !hide">
          <i class="eye icon" >
          </i>
        </button>
      </div>
    </div>
    <button class="ui teal button" tabindex="0" [disabled] = "!registerForm.valid">Sign-Up</button>
  </div>
</form>
