<div [ngClass]="{'wide-window': isLoggedIn, 'window': !isLoggedIn}">
  <div class="ui middle aligned center aligned grid">
    <router-outlet class="margins" (onChanged)="handleEvent($event)"></router-outlet>
  </div>
  <div *ngIf="isLoggedIn"
    class="ui message middle aligned center aligned grid ">
    <button class="ui teal button"
            routerLink="{{ isRegistred ? '/LogIn' : '/SignUp'}}"
            (click)="isRegistred = !isRegistred ">Click here to {{ isRegistred ? 'Log In' : 'Sign Up'}}</button>
  </div>
</div>
