<div class="ui clearing segment">
  <div class="">
    <button *ngIf="!logInService.isLoggedIn"
            class="ui teal right floated button"
            routerLink="{{ isRegistred ? '/SignUp' : '/LogIn'}}"
            (click)="isRegistred = !isRegistred ">Click here to {{ isRegistred ? 'Sign Up' : 'Log In' }}</button>
    <button *ngIf="logInService.isLoggedIn"
          class="ui teal button right floated"
            routerLink="/LogIn"
          (click)="logInService.onToogleIsLoggedIn(false)">Click here to Sign Out</button>
  </div>
</div>
<div [ngClass]="{'wide-window': logInService.isLoggedIn, 'window': !logInService.isLoggedIn}">
  <div class="ui middle aligned center aligned grid">
    <router-outlet></router-outlet>
  </div>
</div>
